.bg-myBlue {
    background-color: #1b9aaa;
}

.bg-myBone {
    background-color: #DDDBCB;
}

.bg-myDarkBone {
    background-color: #A2A197;
}

.bg-myLace {
    background-color: #E7E2D1;
}

.text-myBone {
    color: #D1CFBD;
}

.border-myBone {
    border: #D1CFBD;
}

.text-myLace {
    color: #E7E2D1;
}

.text-myDarkBone {
    color: #A2A197;
}

