.bg-myBlue {
    background-color: #1b9aaa;
}

.bg-myBone {
    background-color: #DDDBCB;
}

.bg-myDarkBone {
    background-color: #A2A197;
}

.bg-myLace {
    background-color: #F5F1E3;
}

.text-myBone {
    color: #DDDBCB;
}

.text-myDarkBone {
    color: #A2A197;
}

